* {
    margin: 0;
    padding: 0;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.container {
    max-width: 1250px;
    margin: auto;
}

.btn:hover {
    color: blue;
    background-color: bisque;
    cursor: grab;

}

.btn {
    padding: 10px 45px;
    border-radius: 5px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.btn2:hover {
    background-color: darksalmon;
    color: blueviolet;
    cursor: grab;
}

.btn2 {

    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background: none;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;


}

.btn3:hover {
    color: aqua;
    background-color: #F95555;
    cursor: grab;
}

.btn3 {
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.btn4:hover {
    color: chocolate;
    background-color: cyan;
    cursor: grab;
}

.btn4 {
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 20px;
}

.color-green {
    color: #469165;
}

header {
    background-color: #FFFFFF;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;

}

.logo {
    padding: 0 30px;
}

.page-container {
    display: flex;
    gap: 32px;
    list-style: none;

}

.page-container a {
    text-decoration: none;
    font-size: 24px;
    color: #000000;

}

#banner {
    padding: 0 auto;
}

.banner-content {
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url(../images/hero-bg.png), #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text {

    box-sizing: border-box;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.text p {
    font-size: 16px;
    width: 500;
    color: #469165;
    padding: 10px 25px;
    border: #FFFFFF;
}

.banner-content h2 {
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    align-items: center;
}

.banner-content p {
    font-size: 16px;
    font-weight: 500;
    /* color: #FFFFFF; */
    padding: 10px 25px;
    border: none;
    align-items: center;


}

#hero {
    width: 1140px;
    margin: 0 auto;
    align-items: center;
}

.hero-content {

    text-align: center;
    border: none;
    padding-top: 10px;
}

.hero-content h2 {
    font-size: 48px;
    font-weight: bold;


}

.hero-content p {
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    line-height: 30px;
    margin-bottom: 30px;

}



.card {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    align-items: center;

}

.card-container {
    width: 320px;
    height: 200px;
    border: none;
    padding: 24px;
    border-radius: 10px;
    background-color: #FFFFFF;
    /* text-align: center; */
    /* align-items: center; */
    margin-bottom: 30px;
    box-shadow: 0 4px 4px #00000025;
}

.card-image {
    height: 60px;
    width: 60px;
    display: flex;
    gap: 26px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #F95555;


}

.card-image img {}

.card-info {
    width: 250px 0;
}

.card-info h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.card-info p {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #627382;
}


.skill {
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    border: none;



}

.skill-image img {}

.skill-container {
    border: none;
    height: 400px;
    width: 600px;
    text-align: left;
}

.skill-container h5 {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 26px;
}

.skill-container h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.skill-container p {
    font-size: 18px;
    color: #627382;
    margin-bottom: 40px;
    line-height: 20px;
}

.requide {

    width: 1140px;
    margin: 0 auto;
}

.requide-container {

    margin-bottom: 100px;
    text-align: center;
    background-color: #FFF8FF;
    border: none;
    border-radius: 10px;
    padding: 50px 40px;


}

.requide-area {
    padding: 20px 10px;


}

.requide-area h2 {
    font-size: 48px;
    font-weight: bold;

}

.requide-area p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#footer {
    border: none;
    background-color: #363e41;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    height: px;


    border: none;

}

.footer-container h4 {
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-container a {
    gap: 10px;
}

.text-p {
    height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}