* {
    margin: 0;
    padding: 0;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.container {
    max-width: 1250px;
    margin: auto;
}

.btn {
    padding: 10px 45px;
    border-radius: 5px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.btn3 {
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.btn2 {

    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background: none;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;

}


.color-green {
    color: #469165;
}

header {
    background-color: #FFFFFF;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;

}

.logo {
    padding: 0 30px;
}

.page-container {
    display: flex;
    gap: 32px;
    list-style: none;

}

.page-container a {
    text-decoration: none;
    font-size: 24px;
    color: #000000;

}

#banner {
    padding: 0 auto;
}

.banner-content {
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url(../images/hero-bg.png), #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text {

    box-sizing: border-box;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.text p {
    font-size: 16px;
    width: 500;
    color: #469165;
    padding: 10px 25px;
    border: #FFFFFF;
}

.banner-content h2 {
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    align-items: center;
}

.banner-content p {
    font-size: 16px;
    font-weight: 500;
    /* color: #FFFFFF; */
    padding: 10px 25px;
    border: none;
    align-items: center;


}